* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


/* common styles */
/* common styles */
/* common styles */
/* common styles */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-image: url(../assets/bg.png);
}

.section-width {
    width: 1160px;
    margin: 0px auto;
}

.btn {
    color: aliceblue;
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hidden-small {
    display: block;
}

.hidden-large {
    display: none;
}


/* fonts fonts fonts fonts */
.font56 {
    font-size: 56px;
}

.font20 {
    font-size: 20px;
}

.font46 {
    font-size: 46px;
}

.font32 {
    font-size: 32px;
}

.font24 {
    font-size: 24px;
}

.font15 {
    font-size: 15px;
}

.font26 {
    font-size: 26px;
}

.font42 {
    font-size: 42px;
}

/* navbar navbar navbar navbar navbar */


nav {
    justify-content: space-between;
    padding: 14px;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}



/* HERO HERO HERO HERO HERO */


.header-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.heading {
    font-size: 56px;
}


/* curricumal */



.size {
    width: 367px;
    height: 470px;
    border-radius: 19px;
    margin: 10px 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.bg1 {
    background-image: linear-gradient(#DEF5FF, #FFFFFF);
}

.bg2 {
    background-image: linear-gradient(#FFF4DC, #FFFFFF);
}

.bg3 {
    background-image: linear-gradient(#EEE1FF, #FFFFFF);
}

.arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    padding: 16px;
    border: none;
}

/* story sectioon */

.bg-gradiant {

    background-image: linear-gradient(rgba(0, 0, 0, 0), #FEC868);
}

.story-box {
    display: flex;
    gap: 14px;
    margin: 40px auto;
}

.stories {
    margin: 0 auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    width: 1440px;
}

.story-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.story-card {
    background-color: white;
    border-radius: 20px;
}

/* footer section */

footer{
    justify-content: space-around;
    padding: 150px;
    background-color: #01ACFD;
    color: white;
}

.icon {
    gap: 5px;
}

footer>ul{
display: flex;
flex-direction: column;
gap: 10px;
}



/* small device small device */
@media screen and (max-width: 390px) {

    .section-width {
        width: 94%;
        margin: 0 auto;
    }

    .hidden-small {
        display: none;
    }

    .hidden-large {
        display: block;
    }


    /* HERO HERO HERO  */

    .header-section {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .heading {
        font-size: 32px;
    }


    /* curriculam */

    .curriculum {

        flex-direction: column;
    }

    .size {
        width: 80%;
        margin: 0 auto;
    }

    .arrow {
        border: none;
        display: none;
    }
    footer{
        flex-direction: column;
        padding: 80px 20px;
        gap: 50px;
        
    }
}