@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

.azeret-mono-fonting {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}





.flexing{
    display: flex;
}
.griding{
    display: grid;
}


/* header nav section */

.navbar{
    justify-content: space-between;
    margin: 20px 0;
}
.nav-anchor{
    text-decoration: none;
    gap: 20px;
}
.btn{
    color: aliceblue;
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border: none;
}
.contact{
    background-color: rgba(254, 163, 1, 1);
}

/* header section */

.header-section{
    /* width: 1158px;
    height: 575px;
     */
    
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.btn-color{
    background-color: black;
}

/* curriculum section */

.S-curriculum{
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* width: 367px;
    height: 475px; */
    
}
.size{
    width: 367px;
    height: 475px;
    border-radius: 19px; 
}


.curriculum{
    justify-content: space-between;
    align-items: center;
    /* gap: 30x; */
    /* width: 367px;
    height: 475px; */
    margin: 80px auto;
}
.arrow{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    /* font-weight: 600; */
    padding: 2px;
}
.arrow-parent{
    justify-content:center;
    padding-bottom: 80px;
    
    

}

/* Our stories */

.cards{
    grid-template-columns: repeat(2, 1fr);
    width: 290px;
    height: 301px;
    gap: 15px;
    /* border-radius: 16px; */
    /* border: 1px solid white; */
}
.card5{
    justify-content: space-between;
    /* align-items: center; */
    /* width: 540px;
    height: 630px; */
    gap: 15px;
    /* border-radius: 16px; */
}
.story-section{
    align-items: center;
    flex-direction: column;
    width: 1440px;
    height: 1000px;

}
#story-title{
    text-align: center;
}

/* /* footer section  */

.footer{background-color: rgba(1, 172, 253, 1);}

@media screen and (max-width: 390px) {
    .navbar{
        height: 70px;
        margin-left: -10px;
        padding: 5px;
    }
    .header-section{
        flex-direction: column-reverse;
    }
    .curriculum{
        flex-direction: column;
    }
    .arrow{
        display: none;
        /* visibility: hidden; */
    }
    .curriculum{
        flex-direction: column;
    }
}
