.flexing{
    display: flex;
}
.griding{
    display: grid;
}


/* header nav section */

.navbar{
    justify-content: space-between;
    margin: 20px 0;
}
.nav-anchor{
    text-decoration: none;
    gap: 20px;
}
.btn{
    color: aliceblue;
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border: none;
}
.contact{
    background-color: rgba(254, 163, 1, 1);
}

/* header section */

.header-section{
    /* width: 1158px;
    height: 575px;
     */
    
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.btn-color{
    background-color: black;
}

/* curriculum section */

.S-curriculum{
    flex-direction: column;
    text-align: center;
}
.curriculum{
    justify-content: space-between;
    align-items: center;
}
.arrow{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    /* font-weight: 600; */
    padding: 2px;
}
.arrow-parent{
    justify-content:center;
    
    

}


@media screen and (max-width: 390px) {
    .navbar{
        height: 70px;
        margin-left: -10px;
        padding: 5px;
    }
    .header-section{
        flex-direction: column-reverse;
    }
    .curriculum{
        flex-direction: column;
    }
    .arrow{
        display: none;
        /* visibility: hidden; */
    }
}
